:root {
  --background-color: #131619;
  --md-breakpoint: 720px;
  --lg-breakpoint: 1024px;
  --xl-breakpoint: 1440px;
}

html,
body {
  /* remove the default margin and padding */
  margin: 0;
  padding: 0;
  /* This ensures the page takes up the full height */
  height: 100%;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

p {
  font-size: 0.75rem;
}

/* md  */
@media (min-width: var(--md-breakpoint)) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/* lg  */
@media (min-width: var(--lg-breakpoint)) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}

/* xl  */
@media (min-width: var(--xl-breakpoint)) {
  h1 {
    font-size: 5.25rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.25rem;
  }
}