@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
:root {
  --primary-dark: #000000;
  --secondary-dark: #18181B;
  --tertiary-dark: rgb(18, 18, 18);
  --quadrary-dark: #535353;

  --primary-light: #ffffff;
  --secondary-light: #d7d7d7cf;

  --primary-accent: #7a01de;
  --secondary-accent: #bd0695;
  --gradient: linear-gradient(to bottom right, #7a01de, #bd0695);
  /* --gradient: linear-gradient(to bottom right, var(--primary-accent), var(--secondary-accent)); */
}

/* Fonts */
@font-face {
  font-family: 'Geist-Thin';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geist-Thin.woff2');
}

@font-face {
  font-family: 'Geist-Light';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geist-Light.woff2');
}

@font-face {
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geist-Regular.woff2');
}

@font-face {
  font-family: 'Geist-Bold';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geist-Bold.woff2');
}

@font-face {
  font-family: 'Geist-Ultra';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Geist-UltraBlack.woff2');
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary-dark);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html, body {
  /* remove the default margin and padding */
  margin: 0;
  padding: 0;
  /* This ensures the page takes up the full height */
  height: 100vh;
  max-width: 100%;
  background-color: var(--secondary-dark);

  overflow-y: auto;
  scrollbar-gutter: auto;
}