.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: white;
}

.nav_container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.name {
  margin-left: 30px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.login_placeholder {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex;
  margin-top: 5%;
  justify-content: flex-start;
  margin-left: 30px;
}



.signin_button {
  border-radius: 10px;
  padding: 0px 14px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}



.get_started_button {
  padding: 2px 18px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

/* md  */
@media (min-width: 720px) {
  .center {
    margin-top: 20%;
  }
}

/* lg  */
@media (min-width: 1024px) {
  .center {
    margin-top: 10%;
  }
}

/* xl  */
@media (min-width: 1440px) {
}
