.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  background-color: #131619;
  color: white;
}

.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #131619;
  color: white;
  padding: 10px;
}

.name {
  padding: 10px;
  margin-left: 15px;
  font-size: 2rem;
}

.login_placeholder {
  padding: 5px;
  font-size: 1.5rem;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin-top: 25%;
  justify-content: flex-start;
}

/* Rest of your CSS... */

button {
  margin: 10px;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.login_button {
  padding: 15px 32px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 0.75rem;
}

/* md  */
@media (min-width: md) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* lg  */
@media (min-width: lg) {
}

/* xl  */
@media (min-width: xl) {
}
