/* Container Layout */
.container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--primary-dark);
  font-family: "Geist", sans-serif;
  color: white;
  align-items: center;
}

/* feature_grid STYLES  */
/* ---------------------------- */
/* Feature Container Layout */
.feature_container {
  display: flex;
  max-width: 1440px;
  width: 100%;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 20%;

  h3 {
    color: var(--primary-accent);
    font-family: "Geist-Light";
  }
}

/* Grid Container Layout */
.grid_container {
  display: grid;
  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  width: 100%;
  gap: 30px;
  grid-template-columns: 1fr; /* Creates two columns */
}

/* Card Container Styles */
.card_container {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--secondary-dark);
  justify-content: center;
  text-align: center;
  border: 3px solid var(--tertiary-dark);
  padding: 10%;
  padding-bottom: 60%;
  transition: 0.3s;
  border-radius: 10px;
}

.card_container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Card Styles */
.card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100%; 
}

.card h2 {
  font-size: 1.5rem;
  margin-top: 0; 
  font-family: "Geist-Bold";
  color: var(--primary-light)
}

.card h3 {
  text-align: start; 
  margin-top: 0; 
  color: var(--secondary-light);
}
/* -------------------------------------- */

/* Navigation Container Styles */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav_text {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 60px;
}

.nav_container,
.nav_container_dropdown {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0);
  opacity: 1;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.nav_container {
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 70px;
}

.nav_container_dropdown {
  height: 400px;
  padding-top: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown_container,
.dropdown_links,
.dropdown_button {
  animation: fadeInUp 1.2s ease forwards; /* Apply the animation */
}

.dropdown_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 50px;
  width: 100%;
  color: black;
}

.dropdown_links,
.dropdown_button {
  background-color: black;
  border: 1px solid gray;
  color: white;
  border-radius: 10px;
  width: 70%;
  padding: 12px 0;
}

.dropdown_button {
  background-color: var(--primary-accent);
}

.dropdown_links,
.dropdown_button,
.menu_links,
.app_button {
  margin: 5px 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    opacity: 0.4;
  }
}

.menu_links {
  color: white;
}

.app_button {
  background-color: var(--primary-accent);
  border-radius: 15px;
  color: white;
  width: 125px;
  padding: 10px 0;
}

/* Horizontal Rule Styles */
.hr {
  width: 100%;
  height: 1px;
  opacity: 0.1;
  border: none;
  margin: 0;
  background-color: white;
  position: absolute;
  bottom: 0;
}

/* Name Styles */
.name {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.name h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

/* Main Container Layout */
.main_container {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

/* Menu Toggle Styles  */
.toggle_container {
  display: inline-block;
  cursor: pointer;
  margin-right: 20px;
}

.bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 1.5px;
  background-color: white;
  margin: 6.5px 0;
  transition: 0.6s;
}

.change .bar1 {
  transform: translate(0, 8px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -8px) rotate(45deg);
}

/* Top Container Styles */
.top_container {
  display: flex;
  flex-direction: column;
  align-items: flex;
  max-width: 720px;
  margin-left: 30px;
  margin-right: 40px;
}

.top_container h1 {
  font-size: 3.1rem;
  margin-bottom: 35px;
  font-family: "Geist", sans-serif;
  color: var(--primary-light);
}

.top_container h3 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 25px;
  font-family: "Geist-Light", sans-serif;
  color: var(--secondary-light);
}

.top_container h4 {
  font-size: 1rem;
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: "Geist-Light", sans-serif;
}

.highlight {
  text-decoration: none;
  font-family: "sans-serif", sans-serif;
}

@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }
  50% {
    background-position: 99% 100%;
  }
  100% {
    background-position: 1% 0%;
  }
}
/* Start Chatting Button Styles */
.start_chatting_button h3 {
  margin: 0;
  font-size: 1.25rem;
}
.start_chatting_button {
  font-weight: 600;
  color: white;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 15px;
  /* for shine & gradient effects to work */
  position: relative;
  overflow: hidden;
  /* for background color shift */
  /* for background color shift */
  background-image: var(--gradient);
  background-size: 400% 400%;
  /* animation: TransitioningBackground 10s ease infinite; */
  /* to ease the button growth on hover */
  /* to ease the button growth on hover */
  transition: 0.3s;

  /* psuedo-element shine animation left side */
  /* psuedo-element shine animation left side */
  &::before {
    content: "";
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 60px;
    height: 100%;
    top: 0;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
  }

  /* psuedo-element shine animation right side */
  /* psuedo-element shine animation right side */
  &::after {
    content: "";
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    top: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
  }

  /* grow button and change background gradient on hover */
  /* grow button and change background gradient on hover */
  &:hover {
    background-image: var(--gradient);
    transform: scale(1.1);
    cursor: pointer;

    /* psuedo-elements for right- and left-side shine animations */
    /* psuedo-elements for right- and left-side shine animations */
    &::before,
    &::after {
      transform: translateX(300px) skewX(-15deg);
      transition: 0.7s;
    }
  }
}

/* Scroller Styles */
.scroller {
  margin-bottom: 0;
}

.scroller_bottom {
  display: none;
}

.scroller__inner {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 2px;
}

/* Scroller Container Styles */
.scroller_container {
  box-sizing: border-box;
  display: grid;
  max-width: 1200px;
  padding: 30px;
}

/* Scroller Animation Styles */
.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

/* Scroller Directional Styles */
.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

/* Scroller Speed Styles */
.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

/* Keyframes for Scroller Animation */
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* Tag List Styles */
.tag-list {
  list-style: none;
  margin: 0;
  padding-inline: 0;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

.menu_container {
  display: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-dark);
  margin-top: 10%;
  max-width: 1440px;
  color: var(--primary-light);
  padding-bottom: 30%;

  h2 {
    margin-top: 10%;
    font-size: 2.5rem;
    font-family: "Geist-Bold", sans-serif;
  }
  p {
    color: var(--secondary-light);
  }
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
  color: white;
  border-radius: 10px;
  padding: 4px 0;
  margin-top: 0px;
}

.footer_links :hover {
  opacity: 0.4;
}

.footer_link {
  display: flex;
  border: 1px solid var(--primary-accent);
  border-radius: 10px;
  text-decoration: none;
  color: white;
  width: 200px;
  height: 75px;
  align-items: center;
  justify-content: center;
}

.footer_text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 5%;
  font-family: "Geist", sans-serif;
}

/* ------------------------------------- */
/* MEDIA QUERIES */
/* ------------------------------------- */

/* md  */
@media (min-width: 720px) {
  .scroller_bottom {
    display: grid;
  }

  .grid_container {
    grid-template-columns: repeat(2, 1fr); /* Creates two columns */
    width: 100%;
  }

  .top_container {
    align-items: center;
    text-align: center;
    max-width: 700px;
  }

  .toggle_container {
    display: none;
  }

  .main_container {
    align-items: center;
  }

  .menu_container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    color: white;
    margin-right: 20px;
  }

  .dropdown_container {
    display: none;
  }

  .nav_container_dropdown {
    height: 80px;
  }

  .scroller_container {
    max-width: 800px;
  }

  .footer_links {
    flex-direction: row;
    gap: 60px;

  }
}

/* lg  */
@media (min-width: 1024px) {
  .start_chatting_button {
    margin-top: 10px;
    width: 150px;
    height: 50px;
  }

  .main_container {
    flex-direction: row;
    align-items: start; /* Aligns items to the top */
    max-width: 1440px;
    margin-top: 12%;
  }

  .top_container {
    width: 50%; /* Adjust as needed */
    text-align: start;
    align-items: start;
    margin-top: 10px;
  }

  .scroller_container {
    width: 50%; /* Adjust as needed */
    margin-left: 20px;
  }

  .grid_container {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
 
  
}

/* xl  */
@media (min-width: 1440px) {
}
