.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: white;
}

.nav_container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.name {
  margin-left: 30px;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.login_placeholder {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: flex;
  margin-top: 5%;
  justify-content: flex-start;
  margin-left: 30px;
  max-width: 325px;
  margin-bottom: 0;
}

.signin_button {
  border-radius: 10px;
  padding: 0px 14px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.start_chatting_button {
  padding: 2px 18px;
  border-radius: 5px;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */
.scroller_container {
  display: grid;
  font-family: system-ui;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

/* for testing purposed to ensure the animation lined up correctly */
.test {
  background: red !important;
}

/* md  */
@media (min-width: 720px) {
  .center {
    margin-top: 10%;
    margin-left: 15%;
    max-width: 525px;
  }
}

/* lg  */
@media (min-width: 1024px) {
  .center {
    margin-left: 15%;
    max-width: 750px;
  }
  .start_chatting_button {
    margin-top: 10px;
    padding: 2px 20px;
  }
}

/* xl  */
@media (min-width: 1440px) {
  .center {
    margin-top: 5%;
    max-width: 1000px;
  }
  .start_chatting_button {
    padding: 4px 24px;
  }
}
