.container {
  margin: none;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.nav_container {
  display: flex;
  width: min(80vw, 300px);
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
