/* App */
.app_container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.app_animation_container {
  width: 100%;
  height: 100%;
  display: flex;
}

/* Left Sidebar */
.sidebar_container {
  position: fixed;
  display: flex;
  width: 320px;
  height: 100vh;
  flex-direction: column;
  border-right: 2px solid var(--secondary-dark);
  background-color: var(--primary-dark);
  z-index: 1;
}

.sidebar_header {
  width: auto;
  height: 60px;
  max-width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  border-bottom: 2px solid var(--secondary-dark);
  font-family: Geist;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.sidebar_header_title {
  font-family: Geist;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.sidebar_center_container {
  height: 100%;
  width: 320px;
  display: flex;
}

.sidebar_nav_container {
  width: 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.5rem;
  gap: 1rem;
}

.sidebar_nav_item {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}

.sidebar_chats_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  color: var(--primary-light);
  gap: 1rem;
}

/* Style the scrollbar handle */
.sidebar_chats_container::-webkit-scrollbar {
  background: var(--secondary-dark);
}

.sidebar_chats_container::-webkit-scrollbar-thumb {
  background: var(--primary-dark);
  border-radius: 2rem;
}

.recent_chat {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  color: var(--primary-light);
  font-family: Geist;
  text-decoration: none;
}

/* lg */
@media (min-width: 720px) {
  .sidebar_container {
    position: relative;
  }
}
