.center_button {
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.left_content {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers children vertically */
  align-items: flex-start; /* Aligns children to the start (left) horizontally */

  text-align: left;
  height: 100%;
}

.left_text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 10%;  
  padding: 30px;
  width: 100%;
  margin-top: 30px;
}

.left_text h1 {
  margin-bottom: 10px; /* Reduces the bottom margin of h1 */
  /* other styles for h1 if needed */
}

.left_text h3 {
  margin-top: 5px; /* Reduces the top margin of h3 */
  /* other styles for h3 if needed */
}

.name {
    margin-left: 20px;
    margin-top: 7px;
    font-size: 2rem;
}

.nav_container {
  align-items: center;
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.responsive_image {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

.container {
  align-items: flex-start;
  background-color: var(--background-color);
  color: white;
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

.form_container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}

.input {
  height: 25px;
  width: 250px;
}

.login_button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 2px 12px;
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
}

.login_button a:hover {
  text-decoration: underline;
}


.nav_container {
  align-items: center;
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.right_content {
  display: none; /* Initially hidden */
}

/* md  */
@media (min-width: 720px) {
  .form_container {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: row;
  }
  .left_text {
    margin-left: 0;
    margin-top: 40px;
  }

  .left_content {
    width: 40%;
  }
  .right_content {
    width: 60%;
    height: 100vh;
  }

  .right_content {
    display: block; /* Show right content area */
  }

  .name h2 {
    margin-top: 6.5px;
  }

  .login_button {
    padding: 5px 18px;
  }
}

/* lg  */
@media (min-width: 1024px) {
}

/* xl  */
@media (min-width: 1440px) {
}
