.center_button {
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
}

.left_content {
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 32px;
  text-align: left;
}

.left_text {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.left_text h1 {
  margin-bottom: 10px; /* Reduces the bottom margin of h1 */
  /* other styles for h1 if needed */
}

.left_text h3 {
  margin-top: 0; /* Reduces the top margin of h3 */
  /* other styles for h3 if needed */
}

.responsive_image {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

.container {
  align-items: flex-start;
  background-color: var(--background-color);
  color: white;
  height: 100vh;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
}

.form_container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 100px;
  overflow: hidden;
  width: 100%;
}

.input {
  height: 25px;
  width: 250px;
}

.login_button {
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
  margin: 0;
  padding: 2px 12px;
  text-decoration: none;
}
.login_button a, /* Targeting the <Link> component inside the button */
.login_button a:visited, /* For visited state */

.login_button a:active {
  /* For active state */
  text-decoration: none; /* Remove underline from the link */
  color: inherit; /* Optional: Ensures the link color matches the button text color */
}

.login_button a:hover {
  text-decoration: underline;
}


.nav_container {
  align-items: center;
  background-color: var(--background-color);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.right_content {
  display: none; /* Initially hidden */
}

/* md  */
@media (min-width: 720px) {
  .form_container {
    display: none;
  }
  .main {
    display: flex;
    flex-direction: row;
  }

  .left_content {
    width: 40%;
  }
  .right_content {
    width: 60%;
    height: 100vh;
  }

  .right_content {
    display: block; /* Show right content area */
  }
}

/* lg  */
@media (min-width: 1024px) {
}

/* xl  */
@media (min-width: 1440px) {
}
