/* styles for default app route */
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: var(--secondary-dark);
}

.character_container {
  max-height: 100px;
  color: white;
  background-color: var(--tertiary-dark);
}
